<!-- app/views/flats/index.html.erb -->
<h1>All Flats</h1>

<div class="row">
  <% @flats.each do |flat| %>
    <div class="col-4 mb-4">
      <div class="card p-3 shadow-sm">
        <h3><%= flat.name %></h3>
        <p><%= flat.address %></p>
        <p>
          <i class="fa-solid fa-bed"></i> <%= flat.number_of_guests %> guests ·
          <i class="fa-solid fa-indian-rupee-sign"></i> <%= flat.price_per_night %>/night
        </p>
        <%= link_to "More info", flat_path(flat), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
